<% if @group_event.new_record? %>
    New Group Event
<% else %>
    Edit Group Event
<% end %>

<%= form_for @group_event do |f| %>
    <% if @group_event.errors[:field_name] %>
        <% @group_event.errors.full_messages.each do |message| %>
            <ul>
              <li><%= message %></li>
            </ul>
        <% end %>
    <% end %>

    <p>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %>:
      <%= f.text_area :description, class: 'ckeditor' %>
    </p>

    <p>
      <%= f.label :location %>:
      <%= f.text_field :location %>
    </p>

    <p>
      <%= f.label :start_on %>:
      <%= f.date_select :start_on, order: [:day, :month, :year] %>
    </p>

    <p>
      <%= f.label :end_on %>:
      <%= f.date_select :end_on, order: [:day, :month, :year] %>
    </p>

    <p>
      <%= f.check_box :published, disabled: true, id: "publish" %>
      <%= f.label :publish %>
      <br>
      <small>* Fill the entire form to publish your group event</small>
    </p>

    <%= f.submit "Save", button_html: {data: {disable_with: 'Please wait...'}} %>
<% end %>

<%= link_to 'Back to Group Events List', group_events_path %>

<script>
    // bypass ckeditor-rails bug for displaying formatted text area
    // https://github.com/tsechingho/ckeditor-rails/issues/28
    $('.ckeditor').ckeditor();

    // enable 'publish' checkbox if all form fields are filled
    $(document).ready(function() {
        var enablePublishedIfValid = function () {
            if ($("#group_event_name").val().trim() &&
                $("#group_event_location").val().trim() &&
                $("#group_event_description").val().trim()) {
                    $("#publish").attr("disabled", false);
            }
            else {
                $("#publish").attr("disabled", true);
            }
        };
        enablePublishedIfValid();
        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function () {
                enablePublishedIfValid();
            });
        }

        $("#group_event_name, #group_event_location").on('input', function () {
            enablePublishedIfValid();
        });
    });
</script>
